{% extends "base.html" %}
{% block title %}Контакты{% endblock title %}
{% block main %}
<main class="main__container">
    <section class="title lock-padding">
        <h1>
            <span>Контакты</span>
        </h1>
        <span class="title-bg">Связаться</span>
    </section>
    <section class="content-contact">
        <section>
            <h2 class="text-select">{{name}} в Ваших контактных данных обнаружены ошибки</h2>
            <p>Вернитесь к <a href="{{ home_url }}/about.html">форме</a> и заполните её заново</p>
        </section>
    </section>
    <div class="main__menu"></div>
</main>
{% endblock main %}