{% extends "base.html" %}
{% block title %}Портфолио{% endblock title %}
{% block main %}
<main class="main__container">
    <section class="title">
        <h1>Мои
            <span>работы</span>
        </h1>
        <span class="title-bg">Портфолио</span>
    </section>
    <section class="content-portfolio">
        <ul>
            <li>
                <figure>
                    <a href="#" class="content-portfolio__link">
                        <img src="" alt="">
                    </a>
                    <div class="content-portfolio__bg">
                        <span></span>
                    </div>
                </figure>
            </li>

        </ul>
    </section>
    <div class="main__menu"></div>
</main>
{% endblock main %}